.Heading {
	background-color: #b2b2b2;
	height: auto;
	border-radius: 1em;
	padding: 0px 0px 20px;
	/* box-shadow: 1px 0px 5px 0px black; */
	border: 1px dashed #8c8b8b;
}
.name {
	padding: 10px;
	font-size: 30px;
	font-weight: bold;
	color: white;
	text-shadow: 1px 1px 4px #8c8b8b;
}
.email,
.phone {
	font-size: 15px;
	color: white;
	text-shadow: 1px 1px 4px #8c8b8b;
	margin: 0 0 5px;
}
