.Heading {
	background-color: #b2b2b2;
	height: auto;
	border-bottom-left-radius: 1em;
	border-bottom-right-radius: 1em;
	padding: 0px 0px 20px;
}
.name {
	padding: 10px;
	font-size: 30px;
	font-weight: bold;
	color: #00abb3;
}
.email {
	font-size: 20px;
	color: #3c4048;
}
.phone {
	font-size: 18px;
	color: #3c4048;
}
